*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 100px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #8f00ff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 25px;
    margin-top: 20px;
}

/* ---------Blog--------- */

/* #blog{
    padding: 30px 0;
} */

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.blog-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.blog-list div{
    background: #262626;
    padding: 40px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.blog-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.blog-list div h2{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}

.blog-list div p{
    text-justify: auto;
}

.blog-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.blog-list div:hover{
    background: #8f00ff;
    transform: translateY(-10px);
}

/* ---------Timeline--------- */

#timeline {
    padding: 50px 0 0 0;
}

.tl {
    padding: 50px 0;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.tl::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.tl-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.tl-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #8f00ff;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #262626;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #262626;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #262626;
    border-width: 10px 10px 10px 0;
    border-color: transparent #262626 transparent transparent;
}

.right::after {
    left: -16px;
}

.tl-content {
    padding: 20px 30px;
    background-color: #262626;
    position: relative;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
}

.tl-content h2 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}

.tl-content h3 {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
}

/* ---------Copyright--------- */

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

.copyright i{
    color: #8f00ff;
}

/* ---------CSS for small screens--------- */

nav .fas{
    display: none;
}

@media only screen and (max-width: 600px){
    /* #header{
        background-image: url(images/cyberpunk-phone-background.png);
    } */

    .header-text{
        margin-top: 100%;
        font-size: 30px;
    }

    .header-text h1{
        font-size: 25px;
    }

    nav .fas{
        display: block;
        font-size: 25px;
    }

    nav ul{
        background: #8f00ff;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title{
        font-size: 40px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .copyright{
        font-size: 14px;
    }

    .tl::after {
        left: 31px;
    }

    .tl-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .tl-container::before {
        left: 60px;
        border: medium solid #262626;
        border-width: 10px 10px 10px 0;
        border-color: transparent #262626 transparent transparent;
    }

    .left::after, .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}
